%Acrom {
  font-family: 'Acrom-Regular', sans-serif;
}

%Slavic {
  font-family: 'SlavicFreeFonts-Regular', sans-serif;
  // text-shadow: 1px 1px 1px #000;
}

%BadScript {
  font-family: 'BadScript-Regular', sans-serif;
}

$dark-green: #274641;
$white: #F2F1ED;
$light-brown: #DECDBD;
// $line: #BCB3A9;