@import 'vars';
@import 'reset';
@import 'global';
@import 'fonts';

// start header
.header {
  background: rgba(255, 255, 255, 0.70);
  width: 100%;
  position: fixed;
  z-index: 100;
}


.header__wrapper {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.header__wrapper-left {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
}

.custom-logo-link {
  width: 70px;
  height: 70px;
}

.header__address {
  display: inline-block;
  padding-left: 67px;
  color: $dark-green;
  font-size: 16px;
}


.header__wrapper-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
}

.social__list {
  display: inline-block;

  &+.social__list {
    margin-left: 30px;
  }
}

.header__phone {
  color: $dark-green;
  font-size: 16px;
  padding: 0 30px;
}

// end header

// start section main__onescreen
.main__onescreen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main__onescreen-title {
  @extend %Slavic;
  font-size: 128px;
  line-height: 130px;
  color: $dark-green;
  text-transform: uppercase;
  padding-top: 150px;
}

.main__onescreen-subtitle {
  @extend %Slavic;
  font-size: 64px;
  color: $dark-green;
  text-transform: uppercase;
  margin-bottom: 65px;
}

.main__onescreen-wrapper {
  width: 380px;
  display: flex;
  justify-content: space-between;
}

.main__onescreen-btn {
  margin-bottom: 30px;
}

// end section main__onescreen

// start section main-about
.main-about {
  overflow: hidden;
}

@media (min-width: 1200px) {
  .main-about {
    display: flex;
  }
}



.main-about__content {
  flex: 0 0 100%;
}

.main-about__body {
  width: 50%;
  padding-right: 50px;
}

.main-about__body-title {
  max-width: 300px;
}

.main-about__images {
  img {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .main-about__images {
    position: relative;
    flex: 0 0 50%;
    transform: translate(-100%, 0px);
  }

  .main-about__images {
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}


// end section main-about
@import 'media';